.App {
  text-align: center;
  display: flex;
  padding: 18px;
  justify-content: space-around;
}

.game-wrapper{
  width: 500px;
}

.rect-wrapper {
  padding: 18px;
}
.rect-row{
  display: flex;
  width: 500px;
}
.rect-unit{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 48px;
  color: firebrick;
}

.robi-img{
  position: absolute;
  margin: auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 48px;
  height: 48px;
}
.gene-wrapper{
  margin: 0 24px;
}

.gene-input{
  display: block;
  width: 300px;
  height: 100px;
  margin-bottom: 16px;
  resize: none;
}

.console-wrapper{
  width: 400px;
}

.console-result{
  padding: 16px;
  background-color: #eeeeee;
  border-radius: 4px;
  width: 100%;
  height: 500px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  
}

.console-result p {
  overflow-wrap: break-word;
  text-align: left;
  font-size: 12px;
}

button{
  margin: 8px;
}

.console-btns{
  display: flex;
  margin-bottom: 16px;
  flex-wrap: wrap;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
